body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-sizing: 0 0 10px rgba(0,0,0,0.1);
}
.container h2{
    text-align: center;
}
.Products{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.product-card{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    width: 240px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.product-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 6px;
}
.product-card h3{
    margin: 0;
    font-size: 18px;
}
.product-card p{
    margin: 5px 0 10px;
}
.product-card button{
    padding: 6px 12px;
    background-color: rgba(255,183,0,0.897);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.product-card hover{
    background-color: rgb(231, 205, 3);
}
h2{
    text-align: center;
    font-size: 30px;
}
.cart{
    margin-top: 20px;
}

.cart-item{
    background: #f1f1f1;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-buttons button{
    margin-left: 5px;
    padding: 4px 10px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cart-buttons button:nth-child(2){
    background-color: darkgoldenrod;
}
.cart-buttons button:nth-child(3){
    background-color: red;
}
.cart-buttons button:hover{
    opacity: 0.8;
}
.empty-cart{
    color: brown;
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
}

.Total{
    text-align: center;
    font-size: 20px;
}
